.thebox{
    width: 300px;
    border: 2px solid #3DAB85;
    padding: 24px;
    margin: 40px;
    border-radius: 7px;
}
ant-label{
    margin-left: -27px;
}
.selectcate{
    border-radius:7px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
   margin-left: -27px;
   width: 250px;
}
.headofproduct{
    text-align: center;
    color: #3DAB85;
}
.rounfed{
    float: right;
    clear: right;
    border-radius: 50%;
    width: 35px;
    margin-right:10px;
    position: absolute;
    top:23px;
    left: 90%;
    
}
.ant-btn-primary {
    background-color:  #3DAB85;
}